.korona-main__contents__topic {
  padding-top: 150px;
  .topic-text {
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    h3 {
      font-weight: bold;
      border-bottom: solid 3px orange;
    }
  }
  .topic-input {
    text-align: center;
    .title {
      .input-content {
        font-weight: 600;
      }
      .content-default {
        width: 80%;
        height: 50px;
        margin: 8px 0 0;
      }
    }
    .text {
      margin: 10px 0;
      .input-content {
        font-weight: 600;
      }
      .content-default {
        width: 80%;
        height: 200px;
        margin: 8px 0 0;
      }
    }
    .btn-box {
      padding: 20px 130px 20px;
      .btn {
        text-align: center;
        width: 300px;
        height: 50px;
        margin: 10px 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
      }  
    }
  } 
}
