.main
  .top.half
    .top-heaf-text1
      %p Team70's
    .top-heaf-text2
      %p Presents
  .bottom.half
    .bottom.half-text1
      %p THANKS BOARD
    .bottom.half-text2
      %p 〜新型コロナと闘う全ての人へ〜
    
  %button.super-button 
    = link_to "home#index", data: {"turbolinks" => false} do
      = "Welcome"
  .overlay
  .button-line.left
    .inner
  .button-line.right
    .inner
