.korona-main
  =render partial: "header"
  .korona-main__contents__topic
    .topic-text
      %h3 Topic詳細
    .topic-table
      %table
        %tbody
          %tr
            %th タイトル
            %td= @topic.title
          %tr
            %th 本文
            %td=markdown(@topic.text)       
    - if user_signed_in?
      .btn-box
        .btn-box__edit
          = link_to '投稿の編集', edit_topic_path(@topic)
        .btn-box__delete
          = link_to '投稿の削除', topic_path(@topic),method: :delete, data: { confirm: "本当に削除しますか？" }
        .btn-box__home
          -# = link_to 'ホーム画面に戻る', home_index_path, data: {"turbolinks" => false} 
    - else
      .btn-box
        .btn-box__home
          -# = link_to 'ホーム画面に戻る', home_index_path, data: {"turbolinks" => false} 
       
    =render partial: "footer"