//1150px~
.korona-main {
  margin: 0;
  padding: 0;
  @media screen and (min-width:1150px) {
    &__header {
      z-index: 100;
      height: auto;
      width: 100%;
      position: fixed;
      background-color: white;
      border-bottom: solid 1px gray;
      &__leftContent {
        display: flex;
        .title {
          padding: 10px 20px 0 30px;
          h3 {
            font-family: "Paytone One";
            color: #202020;
            text-transform: uppercase;
            letter-spacing: -2px;
          }
          h3 span {
            display: block;
            margin: 11px 0 17px 0;
            font-size: 45px;
            line-height: 80px;
            color: orange;
            text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px wheat;
            letter-spacing: -4px;
          }
        }
        .subTitle {
          padding-top: 10px;
          p {
            font-family: "Paytone One";
            color: #202020;
            text-transform: uppercase;
            letter-spacing: -2px;
          }
          p span {
            display: block;
            margin: 11px 0 17px 0;
            font-size: 25px;
            line-height: 80px;
            color: black;
            text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px gray;
            letter-spacing: -4px;
          }
        }
      }
      
      &__centerContent {
        display: flex;
        justify-content: space-around;
        padding-left: 300px;
        .content-menu {
          width: 100%;
          ul {
            font-size: 25px;
            color: black;
            width: 100%;
            li {
              display: inline;
              padding: 0 15px;
              font-weight: bold;
              border-bottom: solid 3px orange;
              transition: background-color 1s;
              text-shadow: 0 -2px 1px white;
              a {
                text-decoration: none;
                color: black;
              }
            }
            li:hover {
              background-color: orange;
              border-radius: 20px;
              transition: background-color 2s, border-radius 1s;
            }
          }
        }
      }
    }
    &__contents {
      overflow: scroll;
      &__images {
        width: 100%;
        height: 100%;
        .korona-message {
          background-size: contain;
          width: auto;
          height: auto;
          .slick {
            background-size: contain;
            width: 100%;
            height: auto;
            
            img {
              background-size: contain;
              width: 100%;
              height: 620px;
              padding-top: 157px;
            }
          }
          p {
            color: white;
            font-size: 45px;
            text-align: center;
            text-decoration: none;
            text-shadow: -1px -2px 3px black;
            height: 50px;
          }
        }
      }
      .message-text {
        text-align: center;
        padding-top: 130px;
      }
      //youtube
      &__videos {
        padding-top: 100px;
        .videos-text {
          text-align: center;
          h5 {
            padding-top: 60px;
            font-size: 30px;
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
          p {
            padding-top: 10px;
            font-size: 20px;
          }
        }
        .videos-content {
          display: flex;
          height: auto;
          height: auto;
          padding-top: 40px;
          .contents-box1 {
            width: 50%;
            padding-right: 4px;
            padding-left: 9px;
            .box1-text {
              background-color: black;
              color: white;
              text-align: center;
            }
            iframe{
              width: 100%;
              height: 400px;
            }
          }
          .contents-box2 {
            width: 50%;
            padding-right: 9px;
            padding-left: 4px;
            .box2-text {
              background-color: black;
              color: white;
              text-align: center;
            }
            iframe {
              width: 100%;
              height: 400px;
            }
          }
        }
      }
      //Thanks message
      &__board {
        padding-top: 100px;
        .board-text {
          text-align: center;
          h2 {
            padding-top: 60px;
            font-size: 30px;
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
          p {
            padding-top: 30px;
            font-size: 20px;
            br {
              padding-top: 20px;
            }
          }
        }
        .board-contents {
          padding-top: 120px;
          .board-form {
            text-align: center;
            .form-box {
              #_text {
                width: 650px;
                height: 45px;
                padding-left: 10px;
                border-radius: 4px;
              }
              .btn-box {
                padding-top: 10px;
                height: 50px;
                .btn {
                  width: 300px;
                  height: 35px;
                  background-color: orange;
                  border-radius: 8px;
                }
              }
            }
          }
          .board-content {
            display: flex;
            padding-top: 70px;
            margin-left: 70px;
            .b-content {
              width: 300px;
              .b-text {
                font-size: 20px;
                padding-bottom: 15px;
              }
              .b-count {
                display: flex;
                i {
                  font-size: 30px;
                  color: orange;
                  padding-right: 40px;
                  padding-left: 10px;
                }
                p {
                  font-size: 30px;
                }
              }
            }
          }
          .b-message {
            text-align: center;
            padding-top: 20px;
            font-size: 40px;
            font-weight: bold;
            color: orange;
          }
        }
      }
      &__topic {
        padding-top: 150px;
        .topic-text {
          text-align: center;
          font-size: 30px;
          padding-bottom: 40px;
          h3 {
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
        }
        .topic-content {
          margin: auto;
          width: 850px;
          border: solid 1px gray;
          text-align: center;
          margin-bottom: 30px;
          border-radius: 2px;
          p {
            padding: 20px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
  .fotter {
    padding-top: 30px;
    background-color: orange;
    .fotter-contents {
      display: flex;
      justify-content: space-around;
      .fotter-text {
        font-size: 20px;
        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
      .f-home-page {
        ul {
          color: white;
          font-size: 20px;
          font-weight: bold;
          li {
            font-size: 16px;
            text-align: center;
            padding: 20px 0 ;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .fotter-logo {
      text-align: center;
      padding-top: 60px;
      transition: background-color 1s;
    }
    .logo-text {
      font-size: 16px;
      color: white;
      padding-bottom: 50px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: bold;
      
    }
    a:hover {
      background-color: black;
      border-radius: 15px;
      transition: background-color 0.3s, border-radius 0.3s;
    }
  }
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}