//600px~799px
.korona-main {
  @media screen and (min-width:600px) and (max-width:799px) { 
    &__header {
      z-index: 100;
      height: auto;
      width: 100%;
      position: fixed;
      background-color: white;
      border-bottom: solid 1px gray;
      display: block!important;
      &__leftContent {
        .title {
          font-size: 30px;
          color: black;
          padding: 20px 0 0 20px;
          text-align: center;
          // border-bottom: solid 3px orange;
        }
        .subTitle {
          font-size: 16px;
          padding-top: 10px;
          text-align: center;
          padding-left: 25px;
        }
      }
      &__centerContent {
        
        padding-top: 20px;
        .content-menu {
          width: 100%;
          ul {
            padding: 10px 11px 0 11px;
            font-size: 17px;
            color: black;
            text-align: center;
            li {
              display: inline;
              padding: 0 8.5px;
              font-weight: bold;
              border-bottom: solid 3px orange;
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width:600px) and (max-width:799px) {
    &__contents {
      overflow: scroll;
      width: auto;
      height: auto;
      &__images {
        width: auto;
        height: auto;
        padding-top: 100px;
        .korona-message {
          background-size: contain;
          width: auto;
          height: auto;
          padding-top: 30px;
          .slick {
            background-size: contain;
            width: 100%;
            height: 100%;
            
            img {
              background-size: contain;
              width: 100%;
              height: 430px;
              padding-top: 25px;
            }
          }
          p {
            color: white;
            font-size: 25px;
            text-align: center;
            text-decoration: none;
            text-shadow: -1px -2px 3px black;
            height: 50px;
            padding-top: 30px;
          }
        }
      }
      //youtube
      &__videos {
        padding-top: 120px;
        .videos-text {
          text-align: center;
          h1 {
            padding-top: 40px;
            font-size: 25px;
            font-weight: bold;
            border-bottom: solid 3px orange;
            
          }
          p {
            padding-top: 10px;
            font-size: 12px;
          }
        }
        .videos-content {
          display: block;
          height: auto;
          width: auto;
          padding-top: 40px;
          .contents-box1 {
            width: 100%;
            padding-left: 0;
            background-size: contain;
            iframe {
              width: 100%;
              height: 370px;
              padding-left: 0;
              background-size: contain;
            }
            .box1-text {
              background-color: black;
              color: white;
              text-align: center;
            }
          }
          .contents-box2 {
            width: auto;
            iframe {
              width: 100%;
              height: 370px;
              padding-left: 0;
              background-size: contain;
            }
            .box2-text {
              background-color: black;
              color: white;
              text-align: center;
            }
          }
        }
      }
      //Thanks message
      &__board {
        .board-text {
          text-align: center;
          h2 {
            padding-top: 100px;
            font-size: 25px;
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
          p {
            padding-top: 30px;
            font-size: 13px;
            br {
              padding-top: 20px;
            }
          }
        }
        .board-contents {
          padding-top: 120px;
          text-align: center;
          .board-form {
            text-align: center;
            .form-box {
              #_text {
                width: 90%;
                height: 35px;
                padding-left: 10px;
                border-radius: 4px;
              }
              .btn-box {
                padding-top: 10px;
                height: 50px;
                .btn {
                  width: 60%;
                  height: 25px;
                  background-color: orange;
                  border-radius: 8px;
                }
              }
            }
          }
          .board-content {
            display: block;
            padding-top: 70px;
            margin: auto;
            .b-content {
              width: auto;
              margin: auto;
              .b-text {
                font-size: 20px;
                padding-bottom: 15px;
                p {
                  text-align: center;
                  padding-right: 20px;
                }
              }
              .b-count {
                display: flex;
                padding: 0px 0 25px 0px;
                width: 150px;
                margin: auto;
                i {
                  font-size: 25px;
                  color: orange;
                  padding-right: 40px;
                  text-align: center;
                }
                p {
                  font-size: 20px;
                }
              }
            }
          }
          .b-message {
            text-align: center;
            padding-top: 20px;
            font-size: 35px;
            font-weight: bold;
            color: orange;
          }
        }
      }
      &__topic {
        padding-top: 130px;
        .topic-text {
          text-align: center;
          font-size: 25px;
          padding-bottom: 40px;
          h3 {
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
        }
        .topic-content {
          width: 90%;
          border: solid 1px gray;
          margin-bottom: 30px;
          border-radius: 2px;
          margin-left: 30px;
          text-align: center;
          p {
            padding: 20px 0;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (min-width:600px) and (max-width:799px) {
    .fotter {
      padding-top: 30px;
      background-color: orange;
      .fotter-contents {
        display: flex;
        justify-content: space-around;
        .fotter-text {
          text-align: center;
          padding-top: 15px;
          a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
          }
        }
        .f-home-page {
          ul {
            color: black;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 20px 0;
            li {
              font-size: 13px;
              text-align: center;
              padding: 10px 0 ;
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
      .fotter-logo {
        text-align: center;
        padding-top: 0;
      }
      .logo-text {
        padding-bottom: 50px;
        a {
          font-size: 16px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}