//410px~479px
.korona-main {
  @media screen and ( max-width:479px ) {
    &__header {
      z-index: 100;
      height: auto;
      width: 100%;
      position: fixed;
      background-color: white;
      border-bottom: solid 1px gray;
      display: block!important;
      &__leftContent {
        .title {
          
          padding-top: 10px;
          text-align: center;
          h3 {
            font-family: "Paytone One";
            color: #202020;
            text-transform: uppercase;
            letter-spacing: -2px;
          }
          h3 span {
            display: block;
            font-size: 30px;
            color: orange;
            text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px wheat;
            letter-spacing: -4px;
          }
        }
        .subTitle {
          padding-top: 10px;
          text-align: center;
          p {
            font-family: "Paytone One";
            color: #202020;
            text-transform: uppercase;
            letter-spacing: -2px;
          }
          p span {
            display: block;
            font-size: 16px;
            color: black;
            text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px gray;
            letter-spacing: -3px;
          }
        }
      }
      &__centerContent {
        
        padding-top: 20px;
        .content-menu {
          width: 100%;
          ul {
            padding: 10px 11px 0 11px;
            font-size: 11px;
            color: black;
            text-align: center;
            li {
              display: inline;
              padding: 0 8.5px;
              font-weight: bold;
              border-bottom: solid 3px orange;
              transition: background-color 1s;
              text-shadow: 0 -2px 1px white;
              a {
                text-decoration: none;
                color: black;
              }
            }
            li:hover {
              background-color: orange;
              border-radius: 20px;
              transition: background-color 2s, border-radius 1s;
            }
          }
        }
      }
    }
  }
  @media screen and ( max-width:479px ) {
    &__contents {
      overflow: scroll;
      width: auto;
      height: auto;
      &__images {
        width: auto;
        height: auto;
        padding-top: 100px;
        .korona-message {
          background-size: contain;
          width: auto;
          height: auto;
          padding-top: 30px;
          .slick {
            background-size: contain;
            width: 100%;
            height: 100%;
            
            img {
              background-size: contain;
              width: 100%;
              height: 330px;
              padding-top: 8px;
            }
          }
          p {
            color: white;
            font-size: 19px;
            text-align: center;
            text-decoration: none;
            text-shadow: -1px -2px 3px black;
            height: 50px;
            padding-top: 40px;
          }
        }
      }
      .message-text {
        text-align: center;
        padding-top: 130px;
        font-size: 10px;
      }
      //youtube
      &__videos {
        padding-top: 105px;
        .videos-text {
          text-align: center;
          h5 {
            padding-top: 40px;
            font-size: 25px;
            font-weight: bold;
            border-bottom: solid 3px orange;
            
          }
          p {
            padding-top: 10px;
            font-size: 12px;
          }
        }
        .videos-content {
          display: block;
          height: auto;
          width: auto;
          padding-top: 40px;
          .contents-box1 {
            width: 100%;
            padding-left: 0;
            background-size: contain;
            iframe {
              width: 100%;
              height: 270px;
              padding-left: 0;
              background-size: contain;
            }
            .box1-text {
              background-color: black;
              color: white;
              text-align: center;
            }
          }
          .contents-box2 {
            width: auto;
            iframe {
              width: 100%;
              height: 270px;
              padding-left: 0;
              background-size: contain;
            }
            .box2-text {
              background-color: black;
              color: white;
              text-align: center;
            }
          }
        }
      }
      //Thanks message
      &__board {
        padding-top: 100px;
        .board-text {
          text-align: center;
          h2 {
            padding-top: 60px;
            font-size: 30px;
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
          p {
            padding-top: 30px;
            font-size: 20px;
            br {
              padding-top: 20px;
            }
          }
        }
        .board-contents {
          padding-top: 120px;
          .board-content {
            padding-top: 70px;
            text-align: center;
            .b-toptext {
              font-size: 20px;
              display: flex;
              text-align: center;
              img {
                height: 60px;
                width: 60px;
                margin-left: auto;
              }
              p {
                margin-right: auto;
                padding-top: 10px;
              }
            }
            .b-content {
              width: auto;
              .b-text {
                font-size: 16px;
                padding-bottom: 15px;
                padding-top: 70px;
                font-weight: bold;
                position:relative;
                line-height: 5;
                .bound span{
                  position: absolute;
                  left: 0;
                  right: 0;
                  top:0;
                  bottom: 0;
                  margin: auto;
                  font: size 30px;;
                  font-weight:bold;
                  color: black;
                  text-align:center;
                  // width:500px;
                  // height:100px;
                  animation: bound-anim 2.5s infinite;
                }
                
                @keyframes bound-anim {
                  0%,100% {top: 0;transform: scale(1);}
                  20% {top: -15%;}
                  40% {transform: scale(1);}
                  70% {top: 0;transform: scale(1.1,0.8);}
                }
              }

              h6 {
                padding-bottom: 30px;
                font-size: 25px;
                a {
                  text-decoration: none;
                  color: orange;
                }
                a:hover {
                  background-color: black;
                  border-radius: 20px;
                  transition: background-color 0.3s, border-radius 0.3s;
                }
              }
              .b-push {
                display: flex;
                margin: auto;
                border-bottom: solid 1px orange;
                
                img {
                  text-decoration: none;
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                }
                
                form {
                  margin-left: auto;
                  #like-buttons {
                    border: none;
                  }
                }
                form:hover {
                  animation: hoverShake 0.2s linear 15;
                  opacity: 0.8;
                }
                
                @keyframes hoverShake {
                  0% {transform: skew(0deg,0deg);}
                  25% {transform: skew(1.5deg, 1.5deg);}
                  75% {transform: skew(-1.5deg, -1.5deg);}
                  100% {transform: skew(0deg,0deg);}
                }
                .b-count {
                  font-size: 30px;
                  color: orange;
                  margin-right: auto;
                  padding: 20px 0 0 15px;
                }
              }
            }
          }
          .b-message {
            text-align: center;
            padding-top: 20px;
            font-size: 20px;
            font-weight: bold;
            color: orange;
          }
        }
      }
      //Topics
      &__topic {
        padding-top: 150px;
        .topic-text {
          text-align: center;
          font-size: 25px;
          padding-bottom: 40px;
          h3 {
            font-weight: bold;
            border-bottom: solid 3px orange;
          }
        }
        .topic-content {
          margin: auto;
          width: 90%;
          border: solid 1px gray;
          text-align: center;
          margin-bottom: 30px;
          border-radius: 2px;
          p {
            padding: 20px 0;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and ( max-width:479px ) {
    .fotter {
      padding-top: 30px;
      background-color: orange;
      .fotter-contents {
        display: block;
        justify-content: space-around;
        .fotter-text {
          text-align: center;
          a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
          }
        }
        .f-home-page {
          ul {
            color: white;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 20px 0;
            li {
              font-size: 13px;
              text-align: center;
              padding: 10px 0 ;
              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
      .fotter-logo {
        text-align: center;
        padding-top: 0;
      }
      .logo-text {
        font-size: 16px;
        color: white;
        padding-bottom: 50px;
      }
    }
  }
}