@mixin transition($dur) {
  -webkit-transition: $dur;
  -moz-transition: $dur;
  -ms-transition: $dur;
  -o-transition: $dur;
  transition: $dur;
}
@mixin transitionDelay($dur) {
  -webkit-transition-delay: $dur;
  -moz-transition-delay: $dur;
  -ms-transition-delay: $dur;
  -o-transition-delay: $dur;
  transition-delay: $dur;
}
@mixin translateXY($x: 0, $y: 0) {
  -webkit-transform: translateX($x) translateY($y);
  -moz-transform: translateX($x) translateY($y);
  -ms-transform: translateX($x) translateY($y);
  -o-transform: translateX($x) translateY($y);
  transform: translateX($x) translateY($y);
}
@mixin translateXYandScale($x: 0, $y: 0, $scale: 0) {
  -webkit-transform: translateX($x) translateY($y) scale($scale);
  -moz-transform: translateX($x) translateY($y) scale($scale);
  -ms-transform: translateX($x) translateY($y) scale($scale);
  -o-transform: translateX($x) translateY($y) scale($scale);
  transform: translateX($x) translateY($y) scale($scale);
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($val) {
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -ms-transform: scale($val);
  -o-transform: scale($val);
  transform: scale($val);
}
@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
$green: #c7ff66;
$gray: #dcdcdc;
$lightGray: #8f8f8f;
$darkBg: rgba(49,49,49, .7);
$red: #ff5954;
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include transition(.3s);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
	text-decoration: none;
	height: auto;
}
html, body {
  width: auto;
  height: auto;
}

.super-button {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 200;
  width: 200px;
  height: 100px;
  opacity: 0.8;
  @include translateXY(-50%, -50%);
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  color: $lightGray;
  background-color: transparent;
  border: 4px solid rgba(143,143,143, 0.5);
  @include transition(1.5s);
  will-change: color, opacity, border-color;
  
  &:hover {
    color: #fff;
    opacity: 1;
    border-color: #fff;
  }
  
  &:hover ~ .overlay {
    background-color: orange;
  }
  &:hover ~ .overlay.active {
    background-color: transparent;
  }
  
  &:hover ~ .button-line .inner {
    max-width: 100%;
  }
  
  &.active {
    @include transition(4.5s);
    @include translateXY(-50%, -1000px);
  }
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(155, 0, 0, 0);
  @include transition(1.5s);
  will-change: background-color;
  
  &.active {
    background-color: transparent;
  }
}
.button-line {
  position: absolute;
  top: -webkit-calc(50% - 2px);
  top: -moz-calc(50% - 2px);
  top: calc(50% - 2px);
  left: 0;
  z-index: 200;
  width: -webkit-calc(50% - 100px);
  width: -moz-calc(50% - 100px);
  width: calc(50% - 100px);
  height: 4px;
  background-color: rgba(143,143,143, 0.5);
  @include transition(.5s);
  will-change: width, max-width;
  
  &.left {
    @include rotate(180deg);
  }
  
  &.right {
    left: -webkit-calc(50% + 100px);
    left: -moz-calc(50% + 100px);
    left: calc(50% + 100px); 
  }
  
  .inner {
    width: 100%;
    height: 100%;
    // background-color: #fff;
    max-width: 0;
    @include transition(1.5s);
  }
  
  &.active {
    opacity: 0;
  }
}

.main {
  width: auto;
  height: auto;
	.top.half {
		.top-heaf-text1 {
			animation: a 2s forwards;
			padding-top: 60px;
			font-size: 120px;
			font-weight: 400;
			font-family: 'Luckiest Guy', cursive;
			text-shadow: 4px -5px 6px  gray;
      color: orange;
      width: 550px;
		}
		.top-heaf-text2 {
			animation: b 2.5s forwards;
			padding-top: 20px;
			font-size: 130px;
			font-weight: 400;
			font-family: 'Luckiest Guy', cursive;
			text-shadow: 4px -5px 5px  gray;
      color: lightblue;
      width: 550px;
		}
	}
	.bottom.half {
		text-align: center;
		animation: c 4s forwards;
		.bottom.half-text1 {
			font-size: 100px;
			font-family: 'Montserrat Alternates', sans-serif;
			// animation: c 3s forwards;
		}
		.bottom.half-text2 {
      font-size: 20px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
		}
	}
}
@keyframes a {
	0% {
	transform: translateX(-600px);
	}

	50% {
		transform: translateX(-600px);
	}

	100% {
	transform: translateX(300px);
	}
}
@keyframes b {
	0% {
	transform: translateX(-600px);
	}

	70% {
		transform: translateX(-600px);
	}

	100% {
	transform: translateX(700px);
	}
}
@keyframes c {
	0% {
	transform: translateY(800px);
	}

	70% {
		transform: translateY(800px);
	}

	100% {
	transform: translateY(250px);
	}
}

@media screen and (min-width:1100px) and (max-width:1199px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 60px;
        font-size: 100px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 550px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 110px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 550px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 100px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(200px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(550px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(500px);
    }
  
    70% {
      transform: translateY(500px);
    }
  
    100% {
    transform: translateY(190px);
    }
  }
}

@media screen and (min-width:990px) and (max-width:1099px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 60px;
        font-size: 100px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 550px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 110px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 550px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 80px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(100px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(450px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(500px);
    }
  
    70% {
      transform: translateY(500px);
    }
  
    100% {
    transform: translateY(190px);
    }
  }
}

@media screen and (min-width:880px) and (max-width:989px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 90px;
        font-size: 80px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 430px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 90px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 430px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 70px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(100px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(450px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(600px);
    }
  
    70% {
      transform: translateY(600px);
    }
  
    100% {
    transform: translateY(230px);
    }
  }
}
//780px~879px
@media screen and (min-width:780px) and (max-width:879px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 90px;
        font-size: 70px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 300px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 80px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 300px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 70px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(100px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(400px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(600px);
    }
  
    70% {
      transform: translateY(600px);
    }
  
    100% {
    transform: translateY(230px);
    }
  }
}

//650px~779px
@media screen and (min-width:650px) and (max-width:779px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 100px;
        font-size: 60px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 300px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 70px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 300px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 60px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(100px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(300px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(800px);
    }
  
    70% {
      transform: translateY(800px);
    }
  
    100% {
    transform: translateY(350px);
    }
  }
}

//530px~649px
@media screen and (min-width:530px) and (max-width:649px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 100px;
        font-size: 60px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 300px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 60px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 300px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 55px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(35px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(230px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(600px);
    }
  
    70% {
      transform: translateY(600px);
    }
  
    100% {
    transform: translateY(250px);
    }
  }
}
//450px~529px
@media screen and (min-width:450px) and (max-width:529px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 100px;
        font-size: 50px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 200px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 50px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 200px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4s forwards;
      .bottom.half-text1 {
        font-size: 50px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 20px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(25px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(200px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(700px);
    }
  
    70% {
      transform: translateY(700px);
    }
  
    100% {
    transform: translateY(280px);
    }
  }
}

//350px~449px
@media screen and (min-width:350px) and (max-width:449px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 130px;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 180px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 180px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4.5s forwards;
      .bottom.half-text1 {
        font-size: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 16px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(25px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(150px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(700px);
    }
  
    70% {
      transform: translateY(700px);
    }
  
    100% {
    transform: translateY(270px);
    }
  }
}

//300px~349px
@media screen and (max-width:349px) {
  .main {
    width: auto;
    height: auto;
    .top.half {
      .top-heaf-text1 {
        animation: a 2s forwards;
        padding-top: 130px;
        font-size: 33px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 6px  gray;
        color: orange;
        width: 120px;
      }
      .top-heaf-text2 {
        animation: b 2.5s forwards;
        padding-top: 20px;
        font-size: 33px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 4px -5px 5px  gray;
        color: lightblue;
        width: 120px;
      }
    }
    .bottom.half {
      text-align: center;
      animation: c 4.5s forwards;
      .bottom.half-text1 {
        font-size: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
        // animation: c 3s forwards;
      }
      .bottom.half-text2 {
        font-size: 13px;
      }
    }
  }
  @keyframes a {
    0% {
    transform: translateX(-600px);
    }
  
    50% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(15px);
    }
  }
  @keyframes b {
    0% {
    transform: translateX(-500px);
    }
  
    70% {
      transform: translateX(-600px);
    }
  
    100% {
    transform: translateX(120px);
    }
  }
  @keyframes c {
    0% {
    transform: translateY(700px);
    }
  
    70% {
      transform: translateY(700px);
    }
  
    100% {
    transform: translateY(240px);
    }
  }
}
